body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

a {
  text-decoration: none;
}

#main-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 20px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 16px;
}

#main-header nav a {
  color: rgb(185, 131, 31);
  font-size: 20px;
}

#main-header nav a:hover {
  color: rgb(228, 163, 44);
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 48px;
}

#latest-products {
  width: 80%;
  margin: 50px auto;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  /* padding: 16px; */
  padding: 10%;
  /* this is 10% of the parent element. Which in this case is <article> element.
  But there's no padding defined for the <article> elements. So this takes
  10% of the "Width" of the <article> element. */
  /* In a non font-size context, the percentage value refers to "other" properties.
  In this case "padding" value refers to the value of the "Width". */
  text-align: center;
  font-size: 24px;
}

h2 {
  /* font-size: 100%; */
  /* .food-item-content is the parent of h2. By setting the font-size of h2
  into 100% we mean that it should take 100% of the size of it's parent's
  font-size. Which is 24px. */
  /* if the parent has no font-size defined, then it takes the 100% value
  of the font-size defined on the browser settings. */

  /* font-size: 2em; */
  /* em unit behave as same as the % unit. 
  1em = 100%
  2em = 200%
  .food-item-content is the parent of h2. By setting the font-size of h2
  into 2em we mean that it should take 200% of the size of it's parent's
  font-size. Which is 48px.
  if the parent has no font-size defined, then it takes the 200% value
  of the font-size defined on the browser settings. */

  font-size: 2rem;
  /* rem unit doesn't depend on the parent's font-size.
  Instead it always relative to the font-size defined in the browser
  settings.(or the root element's font size. [root element means html {} element.]) 
  2rem = 200% of the font-size defined on the browser settings. */
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 8px 24px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}
